@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 64% 98%;
    --foreground: 233 57% 5%;
    --card: 231 64% 98%;
    --card-foreground: 233 57% 5%;
    --popover: 231 64% 98%;
    --popover-foreground: 233 57% 5%;
    --primary: 232 61% 51%;
    --primary-foreground: 231 64% 98%;
    --secondary: 258 61% 71%;
    --secondary-foreground: 233 57% 5%;
    --muted: 231 65% 20%;
    --muted-foreground: 233 57% 70%;
    --accent: 269 60% 63%;
    --accent-foreground: 233 57% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 233 57% 5%;
    --border: 231 65% 20%;
    --input: 231 65% 20%;
    --ring: 269 60% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 60% 2%;
    --foreground: 232 60% 95%;
    --card: 230 60% 2%;
    --card-foreground: 232 60% 95%;
    --popover: 230 60% 2%;
    --popover-foreground: 232 60% 95%;
    --primary: 232 61% 49%;
    --primary-foreground: 232 60% 95%;
    --secondary: 258 61% 29%;
    --secondary-foreground: 232 60% 95%;
    --muted: 229 61% 80%;
    --muted-foreground: 232 60% 95%;
    --accent: 269 60% 37%;
    --accent-foreground: 232 60% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 232 61% 10%;
    --border: 230 60% 60%;
    --input: 229 61% 80%;
    --ring: 269 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
